body {
  background: #000033;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container: hover {
  cursor: pointer;
  transform: scale(1.1);
}